@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes verticalScroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.vertical-scroll-wrapper {
  animation: verticalScroll 25s linear infinite;
}
